SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
HOME=/root

@reboot root sleep 120 && "${HOME}/apps/mount/app.mount.sh" >> '/var/log/app.mount.log' 2>&1
